
<h1>Items </h1>

<div *ngFor='let product of products'>
    <a [title]="product.name + ' details'"><h2>{{product.name}}</h2></a>
    <h3>{{product.price | currency}}</h3>
    <p *ngIf='product.description'>
        {{product.description}}
    </p>
    <button class="btn btn-primary" (click)=share()>Share</button>
    <br>
    <app-product-alert [product]='product' (notify)="onNotify()"></app-product-alert>
</div>
<br>
<div class="ngclass">
    <button class='red' [class.bold]='boldClass'>My button</button>
</div>
<br>